* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px 5px;
}

